<!DOCTYPE html>
<html class="dark">

<head>
  {% load static %}
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'frontend/icons/apple-icon-57x57.png' %}">
  {% load static %}
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'frontend/icons/apple-icon-60x60.png' %}">
  {% load static %}
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'frontend/icons/apple-icon-72x72.png' %}">
  {% load static %}
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'frontend/icons/apple-icon-76x76.png' %}">
  {% load static %}
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'frontend/icons/apple-icon-114x114.png' %}">
  {% load static %}
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'frontend/icons/apple-icon-120x120.png' %}">
  {% load static %}
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'frontend/icons/apple-icon-144x144.png' %}">
  {% load static %}
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'frontend/icons/apple-icon-152x152.png' %}">
  {% load static %}
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'frontend/icons/apple-icon-180x180.png' %}">
  {% load static %}
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'frontend/icons/android-icon-192x192.png' %}">
  {% load static %}
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'frontend/icons/favicon-32x32.png' %}">
  {% load static %}
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'frontend/icons/favicon-96x96.png' %}">
  {% load static %}
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'frontend/icons/favicon-16x16.png' %}">

  {% load static %}
  <link rel="manifest" href="{% static 'frontend/manifest.json' %}">

  <meta name="msapplication-TileColor" content="#171717">
  {% load static %}
  <meta name="msapplication-TileImage" content="{% static 'frontend/icons/ms-icon-144x144.png' %}">
  <meta name="theme-color" content="#171717">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>manga.red</title>
  <meta name="description"
    content="Читай мангу онлайн! У нас вся манга бесплатно и без регистрации! Читать мангу! Самая удобная читалка манги, огромный каталог манги. Читайте у нас!">
  <meta name="keywords"
    content="манга, манга онлайн, mangalib, мангалиб, манга либ, remanga, re manga, реманга, ре манга, читать мангу, читать мангу онлайн, манга бесплатно, манга романтика, манга по жанрам, манга про любовь, манга русская, манга на русском, перевод манга, лучшая манга, топ манга, каталог манги, популярная манга">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap"
    rel="stylesheet">
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.8;
      letter-spacing: normal;
      background-color: rgb(17, 17, 17);
      color: white;
    }
  </style>
</head>

<body>
  <div id="main">
    <div id="app"></div>
  </div>

  {% load static %}
  <script src="{% static 'frontend/main.js' %}"></script>
</body>

</html>